# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
gamervault-src/node_modules

# next.js
gamervault-src/.next/
gamervault-src/out/

# production
gamervault-src/build

# debug
gamervault-src/npm-debug.log*
gamervault-src/yarn-debug.log*
gamervault-src/yarn-error.log*
gamervault-src/.pnpm-debug.log*

# env files
gamervault-src/.env*

# vercel
gamervault-src/.vercel

# typescript
gamervault-src/*.tsbuildinfo
gamervault-src/next-env.d.ts

*.txt
